/* Estilo da seção de login */
.loginSection {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardLogin {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #218838;
  }
  
  .registerLink {
    margin-top: 15px;
  }
  
  .registerLink a {
    color: #007bff;
    text-decoration: none;
  }
  
  .registerLink a:hover {
    text-decoration: underline;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 15px;
  }
  