/* Estilos globais para garantir altura total da página */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #333;
}

.mainSection {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.highlightedCard{
  display: flex;
  background-color: rgba(31, 30, 30, 0.788);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  max-width: 2000px;
}
